# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ClockHandsKata.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chruc\Documents\Dev\C#\ClockHandsKata\.idea\.idea.ClockHandsKata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
